nav ul li{
    display: inline;
    padding: 26px 40px;
}
nav ul li a{
    font-size: x-large;
    font-weight:bolder;
    color:black;
    font-style: italic;
    text-decoration: none;
}
button{
    margin-top: 46%;
}
body{
    background: url(/ukuts.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}